<html>
<head>
<title>DayZLiveMap - the admin-only tool</title>
<link rel="icon" type="image/png" href="/favicon.png" />
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/jhere/jhere.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ googleApiKey }}&sensor=false"></script>
<script type="text/javascript" src="/js/general.js"></script>
<link rel="stylesheet" type="text/css" href="/css/general.css" />
</head>
<body>
<div id="map"></div>
</body>
</html>